<!DOCTYPE html>
<html>
<head>
  <title>Facebooker</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "facebooker/application", media: "all" %>
  <%= javascript_include_tag "facebooker/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
